body {
    font-family: 'Comic Sans MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    height: 100vh;
    margin: 0;
    background: url('image4.jpg') center/cover no-repeat;
    color: #fff;
    padding: 20px;
}

h2 {
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    color: black;
}

p {
    margin-bottom: 8px;
}